<div class="well">
	<div class="row" style="text-align: center">
		<h1>
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search for a movie!
		</h1>
</div>

<p>

	<div class="well" style="text-align: center"><form class = "form-inline" action="/results" method="GET" role="form">

	<label for="search">Type Keyword: &nbsp;</label>
	
		<div class="form-group" style="text-align: center">
		<input type="text" class="form-control" id="search-bar" placeholder="Search" name="s">


		<button type="submit" class="btn btn-info">Submit</button>
	</form>
</div>

</div>