<div class="well">

<form action="/favorite/<%= id %>/tags" method="POST" role="form">
    	<legend>Tag</legend>
    
    	<div class="form-group">
    		<label for="">Enter Tag below</label>
    		<input type="text" class="form-control" id="tags" placeholder="Tag it!" name="tag">
    	</div>
    
    	
    
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>